@import "../assets/vars";

.top-bar {
  background-color: $primary;
  color: #fff;

  &__title {
    margin: 0;
    line-height: 60px;
    font-size: 30px;
    letter-spacing: .06em;
    font-weight: 900;
  }

  &__title-icon {
    $iconSize: 40px;
    font-size: $iconSize;
    width: $iconSize;
    height: $iconSize;
    position: relative;
    display: inline-block;
    top: 10px;
    margin-right: 10px;
  }

  &__title-pre {
    font-weight: 300;
  }

  &__title-post {
    font-size: 17px;
    font-weight: 300;
  }

}

.companies-panel {
  padding-left: 94px;
}

.slider-label {
  width: 55px;
  position: relative;

  &__panel {
    position: absolute;
    transform: rotate(-90deg) translateX(-50%);
    transform-origin: 0 0;
    text-align: center;
    top: 50%;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: 26px;
    color: $primary;

  }

  &__value {
    display: block;
    margin-top: 10px;
  }
}
