<div class="top-bar">
    <div class="container">
        <h1 class="top-bar__title">
            STOCKS
        </h1>
    </div>
</div>
<div class="container pt-4">
    <div class="d-flex flex-row">
        <div class="slider-label">
            <div class="slider-label__panel">
                <h2 class="slider-label__title">
                    THRESHOLD
                </h2>
                <span class="slider-label__value">
                    {{ threshold$ | async | currency : 'USD' : 'symbol' : '0.00'}}
                </span>
            </div>
        </div>
        <mat-slider [vertical]="true" [value]="threshold$ | async" (input)="updateThreshold($event.value)" [step]="step"
            [min]="minValue" [max]="maxValue"></mat-slider>
        <app-chart class="flex-grow-1" (rendered)="initChartData($event)" [series]="series"
            [threshold]="threshold$ | async">
        </app-chart>
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center mt-4">
        <div class="d-flex flex-row companies-panel">
            <mat-checkbox (change)="triggerUpdate()" *ngFor="let c of companies" class="mr-2 ml-2"
                [(ngModel)]="c.selected">{{c.name}}</mat-checkbox>
        </div>
        <div class="value-type">
            <mat-form-field>
                <mat-label>Price type</mat-label>
                <mat-select [(ngModel)]="selectedPriceType" (selectionChange)="triggerUpdate()">
                    <mat-option *ngFor="let price of priceTypes" [value]="price">
                        {{price}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
